/* 
* {
  margin: 0;
  padding: 0;
}
#table {
margin: 0 auto;
margin-top: 5%;
border: 1px solid red;
width: 100px;
height: 100px;
font-weight: bold;
}
#box {
  display: flex;
  margin: 15px 10px 15px 10px;
  justify-content: space-evenly;
}

#menu  {
  text-align: center;
 font-size: 25px;
}
*/